body {
    margin: 0;
    text-align: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#metric-input {
    background-color: #6943FF;
    margin-bottom: 0;
}



#input-value {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    box-sizing: border-box;
    text-align: center;
    font-size: 58px;
    background: #ffffff00;
    border-radius: 5px;
    color: #FFFFFF;
    padding-left: 20px  ;
}

#convert-btn {
    width: 117px;
    height: 42px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #3D3D3D;
    margin-top: 25px;
    margin-bottom: 35px;
}

#container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#conversions {
    background-color: #1F2937;
    padding-top: 35px;

}

#conversion {
    background-color: #273549;
    width: 500px;
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}



h2 {
    color: #CCC1FF;
    margin-top: 0;
    margin-bottom: 9px;
}

p {
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 23px;
}